@import "compass";
@import "foundation";
@import "social-likes";
@import "font-awesome";

$background_color: #009250;
$portfolio_color: #DFECAA;
$contact_color: #FFFFFF;
$title_color: #EEEEEE;

body {
  background: $background_color;
}

.title {
  color: $title_color;
}

.columns {
  padding: 0;
}

.social-likes {
  margin-bottom: 1em;
}

.flex-video {
  margin-bottom: 0;
}

.portfolio {
  background: $portfolio_color;
  opacity: 1.0;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 2em;
}

.description {
  padding: 0.1em 1em 0.1em 1em;
  // for 2 columns
  @media only screen and (min-width: 40.063em) {
    margin-left: 1em;
  }
  h3 {
    margin: 0;
  }

  .link-to-content {
    font-size: 0.7em;
  }

  .date {
    color: #111111;
    float: left;
    margin-right: 1em;
  }

  .tag {
    margin-top: 2px;
    margin-bottom: 1px;
    vertical-align: middle;
  }
}

.eye-catch {
  .title {
    background: #111;
    font-size: 1em;
    opacity: .55;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #999;
    padding-left: 1em;
    z-index: 10000;
  }
}

.contact {
  border: 0;
  text-align: center;
  a {
    font-size: 3em;
    color: $contact_color;
  }
}
