.row
  %h1.title
    Hassaku's Portfolio

.row
  .social-likes
    .facebook
      Facebook
    .twitter
      Twitter

%article.row.portfolio
  .eye-catch.small-6.columns#hoge
    =image_tag '/images/smart_kawaya.jpg'
    .title
      Title
  .description.small-5.columns.end
    %h3
      Foundation
      =link_to "#hoge", class: "link-to-content" do
        %i.fa.fa-link
    %p
      ここは本文エリア（右側）です。

%article.row.portfolio
  .eye-catch.small-6.columns#fuga
    .flex-video
      %iframe{ src:"http://www.youtube.com/embed/T_icWeeoRyw?controls=0&rel=0", frameborder: "0" }
  .description.small-5.columns.end
    %h3
      Foundation 4サンプル
      =link_to "#fuga", class: "link-to-content" do
        %i.fa.fa-link
    %p
      ここは本文エリア（右側）です。

.row.contact
  =link_to 'mailto:hassaku.apps@gmail.com' do
    %i.fa.fa-envelope-o
  =link_to "https://github.com/hassaku" do
    %i.fa.fa-github
